@media (max-width: 768px) {        
        .container{
            border: 5px solid red;
            /* height: 5000px; */
        }
    .section1{
        width: 100%;
    }
    .photo{
        width: 100%;
        padding-top: 20%;
    }
    .secdets{
        display: none;
    }
    .mN{
        position: absolute;
        border-bottom: none;
        margin-top: 3%;
        margin-left: 3%;
    }
   .sc2{
        width: 100%;
        height: 300px;
        border: 5px solid rgb(83, 12, 12);
        display: flex;
    }
    .clock_box{
        display: flex;
        float: left;
        margin-top: 90px;
        margin-left: 40px;
        height: 200px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        border-top: 2px solid #606263;
    }
    .tr{
        align-items: center;
        margin-top: 0px;
        width: 400px;
    }

    .card1{
        
        margin-left: 100px;
    }
    .card3{
        margin-right: 100px;
    }
    .card2{
        display: none;
    }
    .section3{
        /* display: none; */
    }
    .left{
        width: 100%;
        float: right;
    }
    .right{
        display: none;
    }
    .gr{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 150px;
        }
        .right_box{
            width: 40%;
            padding-bottom: 10%;
        }
        .rb3{
            display: none;
        }
    footer{
        /* display: none; */
    }
   /* page2 */
    .nws_section1{
        display: inline;
    }

   .nws_section1_img{
    width: 80%;
    margin-left: 10%;
   }
   .nws_section1_form{
    display: flex;
    margin-left: 10%;
    width: 80%;
    border: none;
    border-radius: 0px 0px 20px 20px;
    padding-top: 10%;
   }
   .nws_section1_form form{
    width: 50%;
   }
   .nws_section2{
    display: inline;
    border-bottom: 5px solid black;
   }
   .nws_section2 div{
    padding-top: 10%;
    padding-left: 5%;
   }
   .dv{
    margin-top: 5%;
    margin-left: 7%;
    border-top: 2px solid #606263;
    width: 85%;
   }
   .text{
    padding-top: 10%;
    padding-right: 20%;
    border-bottom: 2px solid #606263;
    width: 85%;
   }
   .article{
    margin-top: 10%;
   }
   footer{
    /* display: none; */
   }
}